spring:
  application:
    name: RBAC-ABAC
  datasource:
    url: jdbc:postgresql://localhost:5432/spring_demo?currentSchema=rbac_abac
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 300000 # 5 minutes
  refresh-expiration: 604800000 # 7 days

logging:
  level:
    com.enterprise: DEBUG
    org.springframework.security: DEBUG